tr > *[data-tableSort="header"]{
  cursor:pointer;
}

tr > *[data-tableSort="header"] .tableSort-button:hover svg,
tr > *[data-tableSort="header"] .tableRefine-button:hover svg{
  fill:red;
}


.refine-area{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.1);
}

.refine-base{
  position:absolute;
  background-color:white;
  box-shadow:2px 2px 8px rgba(0,0,0,0.5);
  padding:4px;
}
.refine-base input{
  width:100px;
  outline:none;
  line-height:16px;
  font-size:12px;
  padding:2px 4px;
  border-radius:2px;
  border:1px solid #ccc;
}
.refine-base .button{
  display:inline-block;
}
.refine-base .button svg{
  display:none;
}
.refine-base .button[data-mode="refine-on"] svg.refine-on{
  display:inline-block;
}
.refine-base .button[data-mode="refine-off"] svg.refine-off{
  display:inline-block;
}

tr > *[data-tableSort="header"] .tableSort-button,
tr > *[data-tableSort="header"] .tableRefine-button{
  display:inline-block;
  margin-left:4px;
}
tr > *[data-tableSort="header"] .tableSort-button svg,
tr > *[data-tableSort="header"] .tableRefine-button svg{
  display:none;
  width:12px;
  height:12px;
  vertical-align:middle;
}
tr > *[data-tableSort="header"] .tableSort-button svg.down-off{
  display:inline-block;
}
tr > *[data-tableSort="header"][data-sort-type="asc"] .tableSort-button svg.down-on{
  display:inline-block;
}
tr > *[data-tableSort="header"][data-sort-type="asc"] .tableSort-button svg.down-off,
tr > *[data-tableSort="header"][data-sort-type="desc"] .tableSort-button svg.down-off{
  display:none;
}
tr > *[data-tableSort="header"][data-sort-type="desc"] .tableSort-button svg.up-on{
  display:inline-block;
}

tr > *[data-tableSort="header"] .tableRefine-button svg.refine-off{
  display:inline-block;
}
tr > *[data-tableSort="header"][data-refine="1"] .tableRefine-button svg.refine-off{
  display:none;
}
tr > *[data-tableSort="header"][data-refine="1"] .tableRefine-button svg.refine-on{
  display:inline-block;
}



.refine-base img,
.refine-base svg{
  width:14px;
  height:14px;
  vertical-align:middle;
  margin:4px 2px;
  opacity:0.5;
  cursor:pointer;
}
.refine-base img.del,
.refine-base svg.del{
  margin-left:-16px;
}
.refine-base img:hover,
.refine-base svg:hover{
  opacity:1.0;
}

table tr[data-hidden="1"]{
  display:none;
}

